DATABASE_URL="postgresql://user:pass@ep-xyz.region.neon.tech/neondb?sslmode=require"
CLOUDINARY_CLOUD_NAME="x"
CLOUDINARY_API_KEY="x"
CLOUDINARY_API_SECRET="x"
# Dev Defaults
DEFAULT_LAT=9.5916
DEFAULT_LON=76.5222
